/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

html {
	width: auto;
	height: 100%;
}

body {
	min-height: 100%;
}

// Footer configuration *** Start

footer {

	width: auto;
	background: url(../../images/dark-wood.png);
	// background-size: 512px 512px;
	height: 335px;
	color: #fff;
}


.footer-content ul {
	list-style-type: none;
}

.social-media ul span {
	display:none;
}

.business-hours ul span {
	font-weight: bold;
}
.contact-info {
	grid-area: contact;
	text-align: left;
	padding-top: 50px;
}

.contact-info ul {
	text-align: left;
	margin: 0;
	padding: 0;
}

.contact-info li {
	margin-top: 20px;
}

.social-media ul {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.social-media li {
	padding: 5px;
	margin-top: 20px;

}

.business-hours {
	grid-area: hours;
	padding-top: 50px;
}

.business-hours ul {
	text-align: left;
	margin: 0;
	padding: 0;
}

.business-hours li {
	margin-top: 20px;
}

.copy-right {
	grid-area: copyright;
	grid-row-start: 4;
  grid-row-end: 6;
	text-align: center;
	padding-top: 30px;
}

.copy-right span {
	text-transform: uppercase;
}

.footer-logo {
	grid-area: footer-logo;
	object-fit: cover;
	text-align: center;
	padding-top: 50px;
}


.footer-content {
	display:grid;
	grid-template-columns: repeat(5, 25%, 15%, 15%, 20%, 25%);
	grid-template-rows: auto;
	grid-template-areas:
	"test contact  hours footer-logo footer-logo"
	"copyright copyright copyright copyright copyright";
	margin-bottom:0px;
	padding:0px;
}

// Footer configuration *** End

#secondary {
	float: right;
	margin-left: -100%;
	max-width: 413px;
	position: relative;
	width: 29.4118%;
}