/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

//front-page

.fp-term-link span {
	color: black;
}




/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

html {
	width: auto;
	height: 100%;
}

body {
	min-height: 100%;
}

// Footer configuration *** Start

footer {

	width: 100%;
	background: url(../../images/dark-wood.png);
	// background-size: 512px 512px;
	height: 40vh;
	color: #fff;
}


.footer-content ul {
	list-style-type: none;
}

.social-media ul span {
	display:none;
}

.business-hours ul span {
	font-weight: bold;
}
.contact-info {
	grid-area: contact;
	text-align: left;
	padding-top: 50px;
}

.contact-info ul {
	text-align: left;
	margin: 0;
	padding: 0;
}

.contact-info li {
	margin-top: 20px;
}

.social-media ul {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.social-media li {
	padding: 5px;
	margin-top: 20px;

}

.business-hours {
	grid-area: hours;
	padding-top: 50px;
}

.business-hours ul {
	text-align: left;
	margin: 0;
	padding: 0;
}

.business-hours li {
	margin-top: 20px;
}

.copy-right {
	grid-area: copyright;
	grid-row-start: 4;
  grid-row-end: 6;
	text-align: center;
	padding-top: 30px;
}

.copy-right span {
	text-transform: uppercase;
}

.footer-logo {
	grid-area: footer-logo;
	object-fit: cover;
	text-align: center;
	padding-top: 50px;
}


.footer-content {
	display:grid;
	grid-template-columns: repeat(5, 25%, 15%, 15%, 20%, 25%);
	grid-template-rows: auto;
	grid-template-areas:
	"test contact  hours footer-logo footer-logo"
	"copyright copyright copyright copyright copyright";
	margin-bottom:0px;
	padding:0px;
}

// Footer configuration *** End

// Sidebar configuration

// main container
.site-content {
	display: flex;
	line-height: 1.8rem;
	
}

// child of .site-content
.content-area {
	flex-grow: 1;
	width: 75%;
}

// child of .site-content
.widget-area {
	width: 25%;
	justify-content: center;
	align-items: center;
	padding: 42px 0px 0px 30px;
	line-height: 1.8rem;

}

.sidebar-contact li {
	margin-left: 5px;
	line-height: 1.8rem;
}


.widget-area ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.day-of-week {
	font-weight: bold;
}

.widget a{
	color: #248a83;
    text-decoration: none;
}

.widget a:hover{
	color: black;
    text-decoration: none;
}

.widget {
	display: inline-block;
}


//find us page

// .page {
// 		.page-container {
// 			width:1120px;
// 			display:flex;
// 			justify-content: center;
// 			align-items: center;
// 			margin:0;
// 		}



// }


// Sidebar configuration *** End


// container of the whole site to control the width

.page-container {
margin: auto;
width: 1120px;

}


.entry-content h2 {
	text-align: center;
	
}

// .entry-content {
// 	margin-left: auto;
//     margin-right: auto;
//     max-width: 900px;
// }

// .entry-title {
// 	color:white;
// 	position: top;
// }

// .entry-header {
// height: 100vh;

// }

//about page start


// .page-template-page-about {

// 	.page-container {
// 		width: 100%;
// 	}

// 	// .content-area {
// 	// 	flex-grow: 1;
// 	// }

// 	p {
// 	width: 900px;    
// 	margin-left: 400px;
// 	}	

// 	#primary {
// 		padding-right: 0px;
// 	}

// 	.hero-image-header {
// 		height: 100vh;
// 	}

// 	.entry-title {
// 		color:white;
// 	}

// 	.site-branding-container {
// 		width: 1120px;
// 		padding: 10px 0 0;
// 	}

// 	.entry-content {
// 		margin: 0;
// 	}
// 	.entry-header {
// 		position: absolute;
//     	width: 100%;
//     	top: 0;
//     	left: 0;

// 	}
	
// }



//about page end

// Journal page configuration start

.blog {
		.site-header {
			border-bottom: 1px solid #e1e1e1;

		}
		.content-area {

			border-right: 1px solid #e1e1e1;
    		padding: 50px 60px 50px 0;
    		width: 73%;
		}

		.journal-title {
			background-color: #248a83;
			color: #fff;
			font-size: 35px;
			left: 0;
			top: 0;
			padding: 10px;
			position: absolute;
			margin-top: 2rem;
			max-width: 70%;
			display: block;
			line-height: 3rem;
			
		}

		.journal-header {

			// line-height: 2rem;
			position: relative;
		}

		.journal-meta {
			background-color: #248a83;
			bottom: 0;
			right: 0;
			margin-bottom: .7rem;
			color: #fff;
			display: inline-block;
			font-family: Novecento Sans Web,sans-serif;
			padding: .1rem;
			position: absolute;
			text-transform: uppercase;
		}

		p { 
			margin-bottom: 2rem;
		}

		.read-more {
			background-color: transparent;
			color: black;
			border: 1px solid #000;
			font-family: Novecento Sans Web,sans-serif;
			font-size: 15px;
			line-height: 1;
			padding: .75rem 1.5rem;
			text-decoration: none;
			text-transform: uppercase;
			border-radius: 1;
			margin-bottom: 6rem;
			
		}

		.read-more:hover {
			color:white;
			background-color: #248a83;
		}
		

}





// Journal page configuration end